{% extends 'layout_AIEB.html' %}

{% block body %}
<div class="p-5 text-center">
<iframe title="DW" width="1140" height="600" src="https://app.powerbi.com/reportEmbed?reportId=d057602d-6912-4e8a-9345-34e38906f816&autoAuth=true&ctid=d05d4c80-da1e-4cd7-83a6-0d2094b20418&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1pLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D&filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}

